.footer {
  background: #074D31;
  color: #fff;
  font-family: 'IBM Plex Sans';
  width: 100%;
  text-align: right;
  position: relative;
}

.footer-top {
  padding: 60px 32px 40px 32px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  gap: 24px;
}

.footer-column {
  flex: 1 1 200px;
}

.footer h5,
.footer h6 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
  position: relative;
}

/* الخط الذهبي */
.gold-line {
  display: block;
  width: 40px;
  height: 1px;
  background-color: #bb9661;
  margin-bottom: 12px;
  border-radius: 1px;
}

.gold-line.small {
  width: 30px;
}

.footer .link-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .link-list li {
  margin-bottom: 6px;
}

.footer .link-list a {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.footer .link-list a:hover {
  opacity: 0.8;
}

.footer .social-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin-top: 10px;
}

.footer .social-links a {
  color: #fff;
  font-size: 1.2rem;
  display: inline-flex;
  transition: opacity 0.3s ease;
}

.footer .social-links a:hover {
  opacity: 0.7;
}

/* Bottom footer */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
  margin-top: 40px;
  direction: rtl;
}

.rights {
  font-size: 0.9rem;
  margin: 0;
  text-align: right;
}

.logos-left {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}

.footer-logo {
  height: 44px;
}

/* الزخرفة بالاسفل */
.footer-pattern {
  width: 100%;
   display: flex;
  overflow: hidden;
}

.footer-pattern img {
  width: 50%;
  object-fit: cover;
  display: block;
}
