.gold-btn-gallery {
  display: inline-block;
  width: auto;               
  height: 40px;
  padding: 0.3rem 1rem;     
  margin-top: 0.5rem;
  background-color: #bb9661;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  position: relative;
  z-index: 6;
  transition: background 0.3s ease, transform 0.2s ease;
}

.gold-btn-gallery:hover {
  background-color: #a8834f;
  transform: translateY(-1px);
}



.gallery-container-fixed {
    max-width: 1320px;     
    margin: 0 auto;        
    padding: 0 2%;         
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.gallery-img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;
}

.gallery-img:hover {
  transform: scale(1.04);
}


.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.lightbox .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.lightbox-swiper .swiper-slide img {
  max-width: 90%;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.lightbox-button-next,
.lightbox-button-prev {
  color: var(--dark-gray);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.lightbox-button-next::after,
.lightbox-button-prev::after {
  font-size: 20px;
  font-weight: bold;
  color: #bb9661;
}

.lightbox-button-next:hover,
.lightbox-button-prev:hover {
  background: rgba(123,138,148,0.4);
  color: #fff;
}

.lightbox-button-next { right: 20px; }
.lightbox-button-prev { left: 20px; }

@media (max-width: 992px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
