.hero-slide {
  width: 100%;
  height: 400px; 
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(187, 150, 97, 0.3);
}

.hero-slide img {
  width: 100%;
  height: 100%;  
  object-fit: cover;
  border: 2px solid #bb9661; 
  border-radius: 1rem; 
}

/* ======= اليوم الوطني ======= */
.national-day-text {
  position: absolute;
  bottom: 40px; 
  right: 40px; 
  text-align: right;
  direction: rtl;
  max-width: 800px;
}

.national-day-text h1 {
  color: #FFF;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1.2px;
  margin: 0 0 10px;
}

.national-day-text p {
  width: 787px;
  color: #FFF;
  text-align: right;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}

/* ======= المسجد الحرام ======= */
.masjid-text {
  position: absolute;
  bottom: 40px;
  right: 40px;
  text-align: right;
  direction: rtl;
  max-width: 800px;
  color: #fff;
  z-index: 2;
}

/* العنوان */
.masjid-text h1 {
  color: #FFF;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1.2px;
  margin: 0 0 10px;
}

/* النص */
.masjid-text p {
  color: #FFF;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 20px;
}

/* الزر الذهبي */
.masjid-btn {
  display: inline-block;
  background-color: #bb9661;
  color: #fff;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.masjid-btn:hover {
  background-color: #a8824e;
  transform: translateY(-2px);
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15));
  z-index: 1;
  border-radius: 1rem;
}

/* ======= نقاط التنقل ======= */
.swiper-pagination-bullet {
  background-color: #bb9661 !important;
}

.swiper-pagination-bullet-active {
  background-color: #bb9661 !important;
  transform: scale(1.3);
}

/* ======= هيرو صفحة مكتبة الصور ======= */
/* === قيمة موحّدة للزوايا === */
:root {
  --gallery-radius: 10px;
}

/* ======= هيرو صفحة مكتبة الصور ======= */
.gallery-hero .hero-slide {
  width: 100% !important;
  height: 160px !important;
  position: relative;
  overflow: hidden;

  border: 3px solid #bb9661;
  border-radius: var(--gallery-radius);
}

/* الصورة */
.gallery-hero .hero-slide img {
  width: 100% ;
  height: 100%;
  object-fit: cover;
  border: 2px solid #bb9661; 
  border-radius: 1rem;
}

.gallery-hero .overlay {
  background: rgba(0,0,0,0.20);
  border-radius: var(--gallery-radius);
}

.gallery-hero .masjid-text {
  bottom: 20px;
  right: 30px;
   display: inline-block;
  white-space: nowrap;
}

.gallery-hero .masjid-text h1 {
  font-size: 38px;
  line-height: 1;
  margin: 0;
}


