.library-section {
  background-color: rgba(123, 138, 148, 0.2);
  direction: rtl; 
  position: relative;

}

.library-text {
  color: #333;
}

.library-text .section-title,
.library-description {
  text-align: center;
}

.library-text .section-title {
  font-size: 28px;
  font-weight: 700;
  color: #1d1d1d;
}

.library-description {
  font-size: 16px;
  color: #555;
  line-height: 1.8;
  max-width: 500px; 
  margin: 0 auto;  
}

.library-btn-wrapper {
  text-align: left;     
  direction: ltr;       
  margin-top: 10px;
}

.library-btn {
  display: inline-block;
  background-color: #bb9661; 
  color: #fff;
  padding: 12px 28px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s ease, transform 0.2s ease;
}

.library-btn:hover {
  background-color: #a47f4c;
  transform: translateY(-2px);
}

.library-image {
  border-radius: 12px;
  width: 100%;
  max-width: 450px;
  transition: transform 0.4s ease;
}

.library-image:hover {
  transform: scale(1.03);
}
