.manasik-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.manasik,
.manasik .container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: block;
}


.manasik .container a,
.manasik-link {
  max-width: 100%;
  display: block;
  overflow: hidden;
}

@media (max-width: 576px) {
  .manasik-image {
    width: 100%;
    max-width: 90%;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .manasik-image {
    width: 100%;
    max-width: 80%;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .manasik-image {
    width: 100%;
    max-width: 50%;
  }
}

@media (min-width: 1400px) {
  .manasik-image {
    width: 100%;
    max-width: 60%;
  }
}
















