.other-services {
  background-color: var(--bg-main, #f9f9f9);
  padding: 1rem 1rem;
}

.other-services .section-title {
  color: var(--dark-gray, #1e1e1e);
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.other-services-card {
  background-color: var(--bg-card, #fff);
  border: 0.1px solid #bb9661;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(187, 150, 97, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 350px;
  width: 90%;
  max-width: 400px;
  margin: 0 auto 2rem auto;
  box-sizing: border-box;
}

.other-services-card:hover {
  transform: translateY(-5px);
}

.other-services-card img {
  width: calc(100% - 1.5rem);
  height: 250px;
  object-fit: cover;
  display: block;
  flex-shrink: 0;
  margin: 0.75rem auto 0;
  border-radius: 10px;
}

.other-services-content {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  overflow: hidden;
}

.other-services-content p {
  color: #101010;
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0;
  overflow-wrap: anywhere;
}
