.decorative-pattern {
  width: 100%;                  
  height: 30px;                 
  background-repeat: repeat-x;   
  background-size: auto 100%;    
  background-position: top left; 
  
  overflow: hidden;             
  margin-top: 30px 0;                
}
